header {
    background-image: url(images/bisou.jpg) ;
    background-size: cover;
    color: #e01462;
    padding: 5%;

}


.separation {
    width: 70%;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.table .thead-dark .table-title {
    background-color: #372F2E;
    color:white;
    text-align: center;
}
.hero {
    text-align: center;
}
.hero .titre_catalogue {
    font-size: 200px;
    line-height: 30vh;
    font-weight: bold;
    margin-top: 3.3rem;
}
.hero p {
    background-color: lightblue;
    opacity: 0.7;
    font-size: 20px;
    color: black;
}
.row .price {
    background-color: lightgrey;
    width:auto;
    height: 18vh ;
    text-align: center;

}
.formulaire .row {
    height: 20vh;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.formulaire img{
    width:auto;
    max-height: 18vh ;
    margin:auto;
}

.formulaire .row .error {
    font-size: 10px;
}